n8n automation/n8n-workflow.json
{
  "name": "7anoti - AI Reminder (WhatsApp + Appel IA)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "credit-reminder",
        "options": {}
      },
      "id": "e98e4f5a-c8a7-4780-9285-d602db0d297a",
      "name": "Webhook (React Native Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "credit-reminder"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "call",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Appel IA"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Switch (Type de Rappel)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es l'assistant d'un épicier marocain (Moul 7anout). Rédige un message TRÈS COURT (3 lignes maximum) pour rappeler un crédit en retard. La 1ère partie doit être en Darija (lettres latines) très naturelle et polie. La 2ème partie doit être une traduction polie en français. N'ajoute AUCUN texte inutile. Exemple de style Darija : 'Salam [Nom], kantmna tkon bikhir. 3andk wa7d lkridi dyal [Montant] DH. Laykhalik 7awl douz tkhalsso f a9rab wa9t. Chokran!'\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Client: {{$('Webhook (React Native Trigger)').item.json.body.clientName}}, Montant: {{$('Webhook (React Native Trigger)').item.json.body.amount}} DH, Retard: {{$('Webhook (React Native Trigger)').item.json.body.daysOverdue}} jours, Épicerie: {{$('Webhook (React Native Trigger)').item.json.body.shopName}}\"\n    }\n  ],\n  \"temperature\": 0.4\n}",
        "options": {}
      },
      "id": "2bc8f42a-a9a7-4710-9173-60f8db2d398a",
      "name": "Generate AI Message (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8084/message/sendText/7anoti",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "7anotiApiKey123"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook (React Native Trigger)').item.json.body.clientPhone }}\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": {{ JSON.stringify($json.choices[0].message.content) }}\n  }\n}",
        "options": {}
      },
      "id": "c1f7a43f-b88a-4933-8273-d5d8fb4f1a2a",
      "name": "Send WhatsApp (Evolution API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [930, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_NEW_VAPI_PRIVATE_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"4d98ed3a-30ba-4f42-bfbb-5d926bbe4ca2\",\n  \"phoneNumberId\": \"c8ba9e36-87d1-402a-b1aa-3e481ea23f13\",\n  \"customer\": {\n    \"number\": \"+{{ $('Webhook (React Native Trigger)').item.json.body.clientPhone }}\",\n    \"name\": \"{{ $('Webhook (React Native Trigger)').item.json.body.clientName }}\"\n  },\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"clientName\": \"{{ $('Webhook (React Native Trigger)').item.json.body.clientName }}\",\n      \"amount\": \"{{ $('Webhook (React Native Trigger)').item.json.body.amount }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "f9e8d7c6-b5a4-3210-fedc-ba9876543210",
      "name": "Vapi AI Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 430]
    }
  ],
  "connections": {
    "Webhook (React Native Trigger)": {
      "main": [
        [
          {
            "node": "Switch (Type de Rappel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (Type de Rappel)": {
      "main": [
        [
          {
            "node": "Generate AI Message (Groq)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Vapi AI Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Message (Groq)": {
      "main": [
        [
          {
            "node": "Send WhatsApp (Evolution API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}